[all:vars]
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignore

[win]
10.10.1.210
10.10.1.57
10.10.1.206

[win:vars]
ansible_user=win_user
ansible_password=very-secret-password

[win_local]
10.10.1.39

[win_local:vars]
ansible_user=win_user_local
ansible_password=very-secret-password

[win_old]
10.10.1.164

[win_old:vars]
ansible_user=win_user_old
ansible_password=very-secret-password
